html,
body {
    padding: 0;
    margin: 0;

    font-family: "Raleway";
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;

    height: 100vh;
}

p {
    font-size: 8px;
    color: #52525b;
    font-weight: normal;
}


/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;

    align-items: start;
    justify-content: flex-start;

    background-color: #38bdf8;
    color: white;
    font-weight: bold;

    height:100%
}

.logo img {
    height: 40px;
}

.logo {
    font-size: 24px; 

    margin-left: 10px;
    margin-top: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
}

li {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

li:hover {
    color:#e5e7eb;
    cursor: pointer;
}

li img {
    margin-right: 20px;
    height: 30px;
    width: 30px;
    align-self: flex-start;
}

/* Main Content */
.main {
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    width: 100%;
}


/* Search & Notifications Section */
.search-notifications {
    display: grid;
    grid-template-columns: 3fr 1fr;

    align-items: center;
    justify-content: center;

    margin-top: 20px;
    margin-right: 5px;
}

.search-notifications img {
    height: 25px;
    margin-right: 20px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 70%;
    height: 25px;

    border: solid 1px grey;
    background-color: lightgray;

    border-radius: 13px;
}

.notifications {
    display: flex;
    align-items: center;

    justify-content: center;
}

#name-display {
    font-size: 13px;
    font-weight: bold;
}

#profile-icon {
    border-radius: 15px;
}

/* Profile & Button Section */

.header-bottom {
    display: flex;
    box-shadow: 0px 2px 4px 0px lightgray;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;

    margin-top: 15px;
    margin-left: 50px;
    padding-bottom: 20px;
}

#profile-icon2 {
    height: 60px;
    border-radius: 30px;

    margin-right: 25px;
}

p {
    margin: 0;
    font-size: 12px;
}

.greeting-name {
    font-size: 24px;
    font-weight:  bold;
}

.buttons {
    display: flex;
    align-items: center;

    justify-content: center;

    margin-right: 20px;
}

.buttons button {
    background-color: #38bdf8;
    color: white;
    font-weight: bold;
    border: none;

    padding: 7px 15px;
    border-radius: 20px;
    margin-right: 10px;
}

.buttons button:hover {
    box-shadow: 0px 2px 4px 0px lightgray;
    cursor: pointer;
}
/* Main Section */

.main-content {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: row;
    padding: 15px;

    height: 100%;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 80%;
    flex: 1 1 60%;
}

.project-card {
    border: 1px solid lightgray;
    box-shadow: 0px 2px 4px 0px lightgray;
    border-radius: 10px;
    border-left: 5px solid orange;
    padding: 20px;

    display: grid;

    background-color: white;
}

.project-card:hover {
    border: 1px solid lightgray;
    box-shadow: 0px 8px 10px 0px lightgray;
    border-radius: 10px;
    border-left: 5px solid orange;
    padding: 20px;

    display: grid;
}

.card-buttons {
    position:relative;

    align-self: flex-end;
    justify-self: end;

    margin-right: 10px;
}

.card-buttons img {
    height: 20px;
    margin-right: 10px;
}

.card-buttons img:hover {
    height: 22px;
    margin-right: 10px;
    cursor: pointer;
}

.ann-trending {
    display: grid;
    grid-template-rows: 15px 1fr 15px 1fr;
    gap: 15px;
    padding-left: 15px;
    flex: 1 1 30%;
}

.ann-card {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;

    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px lightgray;

    margin-bottom: 15px;
    padding: 15px;

    background-color: white;
}

.announcements:hover {
    box-shadow: 0px 8px 10px 0px lightgray;
}

.ann1, .ann2, .ann3 {
    font-size: 12px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ann2, .ann3 {
    border-top: 1px solid grey;
}

/* .ann-text {
    width: min-content;
} */

.trending {
    display:grid;

    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px lightgray;

    padding: 15px;
    padding-left: 30px;

    align-items: center;
    justify-content: start;

    background-color: white;
}

.trending:hover {
    box-shadow: 0px 8px 10px 0px lightgray;
}

.trending-sec {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.trending img {
    height: 50px;
    border-radius: 25px;

    margin-right: 20px;
}

.tag {
    font-size: 15px;
}

.post {
    font-size: 15px;
    color: grey;
}






